{{>nav}}

<div class="userpage-container">


    <div class="userpage-yourCleanings">
        <h2 id="your-cleanings">Kommande städningar</h2>

        <div class="userpage-links">
            <ul>
                {{#each cleanings}}
                {{#if done}}
                {{else}}
                <li><a href="/admin/info/{{_id}}">{{date}} <button id="userpage-details">Detaljer</button></a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>



    <div class="userpage-yourCleanings">
        <h2 id="your-cleanings">Slutförda städningar</h2>

        <div id="uuserpage-links">
            <ul>
                {{#each cleanings}}
                {{#if done}}
                <li><a href="/admin/info/{{_id}}">{{date}} <button id="userpage-details">Detaljer</button></a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>