{{>nav}}
<div class="staff-admin-info-wrapper">

<div class="staff-admin-user-info">
    <h1 class="staff-admin-info-title">Städning</h1>
      <p>{{road}}</p> {{!-- change to {{adress}} --}}
      <p>{{address}}</p> {{!-- change to {{area}} --}}
      <p>{{date}}</p> {{!-- change to {{date}} --}}
      <p>{{cleaningType}}</p> {{!-- change to {{type}} --}}
    </div>

    <form action="/info{{_id}}" method="post" class="del-user-form">
		<button type="submit">
			Done
		</button>
	</form>

    <div class="admin-staff-info-div">
        <a href="#" class="admin-staff-info-back">Go back</a>
    </div>
</div>


            