{{>nav}}
<div class="staff-admin-info-wrapper">

<div class="staff-admin-user-info">
    <h1 class="staff-admin-info-title">Städning</h1>
    {{!-- {{#each bookings}}
      <p>{{address}}</p> 
      <p>{{zipCode}} {{location}}</p>
      <p>{{bookings.date}}</p> 
      <p>{{cleaningType}}</p> 
    {{/each}} --}}
    </div>

    <form action="/" method="post">
        <input type="submit" value="Klar">
    </form>

    <div class="admin-staff-info-div">
        <a href="/admin" class="admin-staff-info-back">Go back</a>
    </div>
</div>